#IDE文件
.vs/
.idea/
.vscode/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

#Unity相关目录
Unity-Tank/.gradle
Unity-Tank/Bundles
Unity-Tank/Library
Unity-Tank/Logs
Unity-Tank/UserSettings
Unity-Tank/*.csproj
Unity-Tank/*.vsconfig
Unity-Tank/ProjectSettings/RiderScriptEditorPersistedState.asset
Unity-Tank/HybridCLRData

#Unity/Assets
Unity-Tank/Assets/Bundles/Code/*
Unity-Tank/Assets/Bundles/AotDlls/*
Unity-Tank/Assets/StreamingAssets/
Unity-Tank/Assets/StreamingAssets.meta

#Unity中的IgnoreAssembly定义文件
Unity-Tank/Assets/Scripts/**/Ignore.asmdef
Unity-Tank/Assets/Scripts/**/Ignore.asmdef.meta

#WebGL
WebGL

#其他
.objs/
.DS_Store
/*.user
bin/
Bin/
/Log
/Logs
obj/
/Release
/Temp
/Tools/MongoDB
Publish/
*/Temp/
*/TestResults/

/Unity-Tank/Logs
Unity-Tank/UserSettings/Layouts/default-6000.dwlt
Unity-Tank/UserSettings/Layouts/default-6000.dwlt
/Unity-Tank/UserSettings/Layouts
